---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Jeff Ventures"
	description="Under Construction"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Under Construction
	</p>

	<p>
		Under Construction
	</p>

	<p>
		Under Construction
	</p>

	<p>
		Under Construction
	</p>

	<p>
		Under Construction
	</p>
</Layout>
