---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Jeff Ventures. All rights reserved.
	<div class="contact">Contact information coming soon.</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.contact {
		margin-top: 0.75em;
		color: rgb(var(--gray));
	}
	.contact a {
		color: rgb(var(--gray-dark));
		text-decoration: none;
	}
	.contact a:hover {
		text-decoration: underline;
	}
</style>
